.projectlink {
  overflow: hidden;
  height: 200px;
  background-size: fill;
  
}

.projectlink img:hover {
  transform: scale(1.3);
}

.projectlink img {
  object-fit: fill;
  max-width: 300px;
  max-height: 300px;
  transition: transform 1s;
  top: 0px;
}

.projectlink a {
  display: inline-block;
}

.projectcontainer {
  max-width: 300px;
}