.contact-us {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  flex-direction: column;

  align-items: center;

  max-width: 700px;

  border: solid;
  border-radius: 20px;
  border-color: black;

  max-height: 600px;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  overflow: hidden;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-height: 856px) {
  .contact-us {
    height: 95vh;
  }

  .button-wrap {
    padding-top: 2vh;
  }
}

.contact-us h1 {
  text-align: center;
}

body {
  background-color: #01bf71;
}

.form-control {
  margin: 0.5rem 0;
  padding: 10px 20px 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

.form-control input {
  width: 100%;
  border: 1px solid #ccc;
  line-height: 2rem;
  font-size: 1rem;
}

.form-control textarea {
  width: 100%;
  border: 1px solid #ccc;
  resize: none;
  font-size: 1.2rem;

  @media screen and (min-height: 480px) {
    height: 5em;
  }
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #01d87e;
  font-size: 1.3rem;
  transition-delay: 0.09s;
}

.form-control textarea:focus {
  outline: none;
  background: #fad0ec;
  border-color: #01bf71;
  font-size: 1.2rem;
  transition-delay: 0.09s;
}

.button-wrap {
  display: flex;
  justify-content: space-between;
}

small {
  color: rgb(255, 4, 4);
}
